body {
    font-family:'Times New Roman', Times, serif;
    background: #222;
    color: #fff;
    margin: 0;
    overflow-x: hidden;
  }
  .profile{
    display: flex;
    flex-direction: row;
    width: 90vw;
    height: auto;
    /* max-height: 80vh; */
    margin: 20px auto;
    background: #2c3e50;
    border-radius: 5px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 0 0 30px rgba(0,0,0,0.7);
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid;
    justify-content: center;
    align-items: center;
  }
  .profile img{
  
    max-width: 300px;
    max-height: 300px
  }
  .slide {
    width: 90vw;
    height: auto;
    margin: 20px auto;
    background: #2c3e50;
    border-radius: 5px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 0 0 30px rgba(0,0,0,0.7);
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid;
  }
  h1 {
    /* border-bottom: 2px solid #1abc9c; */
    padding-bottom: 10px;
    margin-bottom: 30px;
    font-size: 2.5em;
    color: #1abc9c;
  }
  p {
    font-size: 1.2em;
    line-height: 1.5em;
    max-width: 900px;
    font-family: 'Times New Roman', Times, serif;
  }
  ul {
    font-size: 1.2em;
    max-width: 900px;
    line-height: 1.5em;
    font-family: 'Times New Roman', Times, serif;
  }
  @media (max-width: 768px)  {
     .profile img{
  
    max-width: 200px;
    max-height: 200px
  }
  @media (max-width: 500px)  {
 .profile{
  flex-direction: column-reverse;
  height: auto;
 }
 .slide1{
  height: auto;
  font-family: 'Times New Roman', Times, serif;
 }
   
